* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.message {
  position: fixed;
  display: grid;
  place-items: center;
  z-index: 9999;
  margin: 0 auto;
  height: 2rem;
  width: 100vw;
  padding: 0 1rem;
  bottom: 0;
  background: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

.message__text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #3c3f50;
}

@media screen and (max-width: 43em) {
  .message__text {
    font-size: 0.8rem;
  }
}

.message__appear {
  animation: showMessage 500ms ease-in;
}

.message__disappear {
  animation: hideMessage 250ms ease-out;
}

.message__error {
  border: 2px solid #ffca57;
}

.message__error .message__text {
  color: #ffca57;
}

.message__success {
  border: 2px solid #0fc059;
}

.message__success .message__text {
  color: #0fc059;
}

@keyframes showMessage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideMessage {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

* {
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  height: 100%;
}

.main-content {
  height: 100%;
  display: grid;
  place-items: center;
}

.main-content .container {
  padding: 3rem;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.04);
  border-radius: 1.5rem;
}

.main-content .container .logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.main-content .container .logo img {
  height: 100px;
}

.main-content .container .logo p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 35px;
  margin-left: 0.8rem;
  color: #262833;
  opacity: 0.6;
}

.main-content .container .form {
  display: flex;
  flex-direction: column;
  width: 24rem;
  overflow: hidden;
}

.main-content .container .form h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  color: rgba(38, 40, 51, 0.8);
}

.main-content .container .form p {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(38, 40, 51, 0.7);
}

.main-content .container .form input {
  height: 45px;
  margin-top: 20px;
  padding: 16px;
  border-radius: 25px;
  border: 2px solid #e8e8e8;
  color: #919191;
  background: #f6f6f6;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.main-content .container .form input::placeholder {
  color: #7c7c7c;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.main-content .container .form input:focus {
  outline: none;
  border-color: #ffba6a;
}

.main-content .container .form .password {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 25px;
  border: 2px solid #e8e8e8;
  margin-top: 20px;
  overflow: hidden;
  background: #f6f6f6;
  height: 45px;
}

.main-content .container .form .password #password_input_field {
  height: 100%;
  width: 85%;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding-right: 0;
}

.main-content .container .form .password .eye-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 35px;
  color: #919191;
  height: 35px;
  border-radius: 50%;
  transition: all 200ms;
}

.main-content .container .form .password .eye-btn:hover {
  cursor: pointer;
  background: #e2e2e2;
}

.main-content .container .form .password .eye-btn ion-icon {
  font-size: 1.5rem;
}

.main-content .container .form .signup-btn {
  background: #ffba6a;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  height: 50px;
  border: none;
  border-radius: 25px;
  transition: background-color 200ms;
  margin-top: 20px;
}

.main-content .container .form .signup-btn:focus {
  outline: none;
}

.main-content .container .form .signup-btn:hover {
  cursor: pointer;
  background-color: #ffa237;
}

.main-content .container .form p:last-child {
  margin-top: 20px;
  text-align: center;
}

.main-content .container .form p:last-child a {
  text-decoration: none;
  color: #ffba6a;
  transition: hover 200ms;
}

.main-content .container .form p:last-child a:hover {
  color: #ffa237;
}
