* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backdrop {
  background: #000;
  opacity: 0.4;
  backdrop-filter: blur(1000px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 102;
}

.main-content {
  display: grid;
  place-items: center;
}

@media screen and (max-width: 43em) {
  .main-content {
    padding: 0 1rem;
  }
}

.main-content .floating-btn {
  display: none;
  width: 7rem;
  height: 3rem;
  box-shadow: 0 0 20px rgba(14, 14, 14, 0.1);
  font-size: 1rem;
  position: absolute;
  top: 3rem;
  right: 2rem;
  border-radius: 1.5rem;
  font-weight: 500;
  color: #fff;
  background: #ffba6a;
  border: none;
  transition: hover 200ms;
}

.main-content .floating-btn:focus {
  outline: none;
}

.main-content .floating-btn:hover {
  cursor: pointer;
  background-color: #ffa237;
}

@media screen and (max-width: 43em) {
  .main-content .floating-btn {
    display: grid;
    place-items: center;
  }
}

.main-content .container {
  width: 60%;
  margin: 4rem 20rem 4rem 0;
}

@media screen and (max-width: 62em) {
  .main-content .container {
    margin: 2rem 10rem 2rem 0;
    margin-left: -18vw;
  }
}

@media screen and (max-width: 43em) {
  .main-content .container {
    width: 100%;
    margin: 2rem 0;
  }
}

.main-content .container .cart h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  color: #262833;
}

.main-content .container .cart h1::after {
  content: "";
  display: block;
  width: 10rem;
  height: 0.5rem;
  background: #ffba6a;
  margin-top: 0.8rem;
}

.main-content .container .cart .cart-items {
  margin-top: 2rem;
  list-style: none;
}

.main-content .container .cart .cart-items .empty-cart-message {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #5c617c;
}

.main-content .container .cart .cart-items .empty-cart-message a {
  color: #ffba6a;
}

.main-content .container .cart .cart-items .cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 20px rgba(14, 14, 14, 0.1);
  transition: all 100ms;
  cursor: pointer;
}

@media screen and (max-width: 62em) {
  .main-content .container .cart .cart-items .cart-item {
    min-width: 25rem;
  }
}

@media screen and (max-width: 43em) {
  .main-content .container .cart .cart-items .cart-item {
    min-width: 22rem;
  }
}

.main-content .container .cart .cart-items .cart-item__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 100%;
}

.main-content .container .cart .cart-items .cart-item__details .cart-item__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-content .container .cart .cart-items .cart-item__details .cart-item__column img {
  height: 3rem;
}

.main-content .container .cart .cart-items .cart-item__details .cart-item__column .heading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  color: #5c617c;
}

.main-content .container .cart .cart-items .cart-item__details .cart-item__column .value {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #676d8b;
}

@media screen and (max-width: 62em) {
  .main-content .container .cart .cart-items .cart-item__details .cart-item__column .heading {
    font-size: 0.6rem;
  }
  .main-content .container .cart .cart-items .cart-item__details .cart-item__column .value {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 43em) {
  .main-content .container .cart .cart-items .cart-item__details .cart-item__column img {
    height: 2rem;
  }
  .main-content .container .cart .cart-items .cart-item__details .cart-item__column .heading {
    font-size: 0.55rem;
  }
  .main-content .container .cart .cart-items .cart-item__details .cart-item__column .value {
    font-size: 0.75rem;
  }
}

.main-content .container .cart .cart-items .cart-item__btns {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.main-content .container .cart .cart-items .cart-item__btns ion-icon {
  font-size: 1.5rem;
  color: #8388a2;
  padding: 0.5rem;
  border-radius: 1.5rem;
  transition: hover 200ms;
  cursor: pointer;
}

.main-content .container .cart .cart-items .cart-item__btns ion-icon:hover {
  background: #f8f8f9;
}

.main-content .container .cart .cart-items .cart-item:hover {
  border: 3px solid #ffddb7;
}

.main-content .container .cart .cart-items .cart-item--active {
  background: #ffb865;
}

.main-content .container .cart .cart-items .cart-item--active .cart-item__column .heading,
.main-content .container .cart .cart-items .cart-item--active .cart-item__column .value {
  color: #fff;
}

.main-content .container .cart .cart-items .cart-item--active .cart-item__column img {
  border: 2px solid #fff;
  border-radius: 4px;
}

.main-content .container .cart .cart-items .cart-item--active .cart-item__btns ion-icon {
  color: #fff;
}

.main-content .container .cart .cart-items .cart-item--active .cart-item__btns ion-icon:hover {
  background: #ffc684;
}

.main-content .container .checkout {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 12rem;
  right: 5vw;
  width: 25vw;
  max-width: 24rem;
  min-width: 15rem;
  border-radius: 1rem;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0 20px rgba(14, 14, 14, 0.1);
  z-index: 103;
}

.main-content .container .checkout .close-btn {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.8rem;
  color: #676d8b;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  transition: hover 200ms;
  cursor: pointer;
}

.main-content .container .checkout .close-btn:hover {
  background: #f8f8f9;
}

@media screen and (max-width: 43em) {
  .main-content .container .checkout .close-btn {
    display: grid;
    place-items: center;
  }
}

@media screen and (max-width: 62em) {
  .main-content .container .checkout {
    right: 1.5rem;
  }
}

@media screen and (max-width: 43em) {
  .main-content .container .checkout {
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100vw;
    height: 60vh;
    width: 100vw;
    border-radius: 1rem 1rem 0 0;
    z-index: 1000 !important;
    display: none;
  }
}

.main-content .container .checkout h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #474a5f;
}

@media screen and (max-width: 62em) {
  .main-content .container .checkout h3 {
    font-size: 1.3rem;
  }
}

.main-content .container .checkout__info {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.main-content .container .checkout__info label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #52566d;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 43em) {
  .main-content .container .checkout__info label {
    font-size: 0.9rem;
  }
}

.main-content .container .checkout__info input {
  width: 100%;
  height: 2rem;
  padding: 16px;
  border-radius: 25px;
  border: 2px solid #e8e8e8;
  color: #919191;
  background: #f6f6f6;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}

.main-content .container .checkout__info input:focus {
  outline: none;
  border: 2px solid #ffd29d;
}

.main-content .container .checkout__btn {
  background: #ffba6a;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
  transition: hover 200ms;
}

@media screen and (max-width: 43em) {
  .main-content .container .checkout__btn {
    margin-top: 2rem;
  }
}

.main-content .container .checkout__btn:focus {
  outline: none;
}

.main-content .container .checkout__btn:hover {
  cursor: pointer;
  background-color: #ffa237;
}
