<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="/assets/icon.png" />
      <p>Laptey</p>
    </div>
    <div class="footer__right">
      <div class="contact">
        <h1 class="footer__heading">Contact us</h1>
        <ul>
          <li>
            <ion-icon name="call"></ion-icon>
            <a href="tel:011-661234">
              <span>011-661234</span>
            </a>
          </li>
          <li>
            <ion-icon name="mail"></ion-icon>
            <a href="mailto:contact@laptey.com">
              <span>contact@laptey.com</span>
            </a>
          </li>
          <li>
            <ion-icon name="location-sharp"></ion-icon>
            <span>Chardobato, Banepa</span>
          </li>
        </ul>
      </div>
      <div class="extra-info">
        <h1 class="footer__heading service-hour">Service hour</h1>
        <p>9:00 am to 6:00 pm</p>
        <h1 class="footer__heading delivery-areas">Delivery areas</h1>
        <p>Banepa, Dhulikhel & Panauti</p>
      </div>
    </div>
  </div>
  <p class="footer-copyright">
    Copyright &copy; 2021 Laptey. All rights reserved.
  </p>
</footer>
